/* 公共 css*/
/* * {margin: 0;padding: 0;} */
body{
    background:#FAFBFC;
    letter-spacing: 1px;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
    font-family:Arial, Helvetica, sans-serif;
    color:#565656;
}
input,textarea{
    color:#565656;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.clearfix:before,
.clearfix:after {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}
.fl,
.fr {
    display: inline;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
/* 修改进度条颜色 */
#nprogress .bar{
    background:red !important;
}

#nprogress .spinner-icon {
    border-top-color:red !important;
    border-left-color:red !important;
}
/*设置滚动条 样式*/
/* ::-webkit-scrollbar {
  width: 6px !important;
  background-color: red !important;
}
::-webkit-scrollbar-thumb {
  background-color: #8899a7 !important;
  border-radius: 4px !important;
}

::-moz-scrollbar {
  width: 6px !important;
  background-color: transparent !important;
}
::-moz-scrollbar-thumb {
  background-color: #8899a7 !important;
  border-radius: 4px !important;
} */

/* 公共背景颜色值 */
.bg88{
    background-color: #888888;
}
.bgcf{
    background-color:#08B3E9;
}
.bgd8{
    background-color:#d8d8d8;
}
.bgb3{
    background-color:#b3b3b3;
}
.bgea{
    background-color:#eaeaea;
}
.bgf7{
    background-color: #f7f7f7
}
.bgff{
    background-color: #fff;
}
/* 公共字体大小 */
.fs20{
    font-size: 20px;
}
.fs18{
    font-size: 18px;
}
.fs16{
    font-size: 16px;
}
.fs14{
    font-size: 14px;
}
.isweiixnImg{
    color: #36C13D;
    margin-left:5px;
}
/* slide 导航 */
.sidebar .el-submenu .el-submenu__title:hover {
    background-color: #DCF3FD !important;
}
.sidebar .el-submenu .el-submenu__title{
    font-size: 18px !important;
    text-align: left;
    padding-left: 15% !important;
    display: flex;
    align-items: center;
}
.sidebar .el-submenu .el-submenu__title .iconfont,
.sidebar .el-menu .el-menu-item .icon-quanbu{
    font-size: 21px !important;
    margin-right: 5px;
    margin-left: -3px;
}
.sidebar .el-submenu .el-submenu__title .el-submenu__icon-arrow{
    right: 0px;
    font-size: 16px !important;
}
.sidebar .el-submenu .el-menu .el-menu-item{
    text-align: left;
    font-size: 16px;
    padding-left: 24% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    position: relative;
    padding-right: 10px;
    height: 56px;
    line-height: 56px;
}
.sidebar .el-submenu .el-menu .el-menu-item .iconfont{
    margin-right: 7px;
    font-size: 18px;
    display: inline-block;
    margin-top: -3px;
}
.sidebar .el-menu .el-menu-item .icon-tv{
    font-size: 18px !important;
}

/* 添加历史报告 历史报告里面的 历史标签样式在main.css里面*/



.addjzjl-body .el-form--label-left .el-form-item__label {
    width: 80px;
}
.addjzjl-body .el-form-item__content{
    padding-left: 50px;
    line-height: 37px;
}
.addjzjlForm .addjzjlForm-yz .el-form-item__content{
    padding-left: 0px;
    width: 100%;
    margin-top: 10px;
  }
/* 修改添加报告默认样式 */
.addhistorylist .addhistorylist-form .el-date-editor .el-range__icon{
    display: none;
}
.addhistorylist-form {
    display: flex;
    align-items: center;
}
.addhistorylist-button button {
    padding: 12px 10px;
}
.addhistorylist-button i {
    margin-right: 8px;
}
.addhistorylist-form .el-form-item__label {
    width: auto !important;
}
.addhistorylist-form .el-form-item {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 20px;
}
.addhistorylist-form .el-form-item .el-form-item__content {
    margin-left: 0 !important;
}
.el-date-editor.el-date-editor--daterange{
    height: 36px !important;
}
.addhistorylist-form .el-date-editor--daterange.el-input__inner {
    width: 230px;
}
.addhistorylist-form .el-date-editor--daterange .el-icon-date {
    display: none !important;
}
.addhistorylist-form .el-input--suffix {
    width: 110px;
}

/* 统一修改颜色 */
button{
    /* padding-top:9px;
    padding-bottom:9px; */
    font-size: 14px;
}
button.el-button{
    padding-top:10px;
    padding-bottom:10px;
    font-size: 14px;    
}
/* .detial-jiuzhenjl-body .el-table--enable-row-transition .el-table__body td{
    padding:12px 0;
} */
.detial-jiuzhenjl-body .el-table th.gutter {
background-color: #FCFCFC !important;
}
.detial-jiuzhenjl-body .el-table th.is-leaf {
    padding:14px 0 !important;background-color: #FCFCFC;
}
.detial-jiuzhenjl-body .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #FCFCFC;
}
.el-table th.is-leaf, .el-table td {
    border-bottom: 0.5px solid #dfeff5;
}
.addjzjlForm .el-form-item__error{
    top:32px;
}
.addjzjlForm-yz .el-textarea__inner{
    height: 60px;
    max-height: 60px;
    min-height: 60px;
}
.el-date-range-picker{
    width: 450px !important;
}
.el-date-range-picker .el-picker-panel__body{
    min-width: 450px !important;
}
.el-date-range-picker__header div{
    font-size: 14px !important;
}
.el-date-table td{
    padding: 1px 0 !important;
}
.el-date-range-picker__content.is-left {
    padding: 5px 5px 15px 5px;
}
.el-date-range-picker .el-picker-panel__content {
    padding: 5px 5px 15px 5px;
}
.el-form-item__content {
    line-height: 36px !important;
}
.addhistorylist .el-table th.is-leaf {
    background-color: #E5F6FD;
    padding: 13px 0;
}
.recycle .el-table th{
    padding:8px 0;
}
.recycle .el-table td{
    padding:13px 0;
}
.recycle .el-table th.is-leaf,.recycle .el-table td {
    border-bottom: 0.5px solid #dfeff5;
}
.recycle .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #F5FCFF;
}
.recycle-btn input.el-input__inner{
    height: 36px;
    line-height: 36px;
    border-color: #B9E2EF;
    display: flex !important;
}
.el-date-editor .el-range-separator, .el-date-editor .el-range__close-icon {
    line-height: 25px !important;
}
.recycle-btn span.el-input__prefix {
    top:-2px;
}
.el-tooltip__popper {
    padding: 2px 3px !important;
    color: #08B3E9;
}
/* 所有table 行显示一行 */
.el-table .cell{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}
.focusing{
    border:none;
    outline: none;
}

.addhistorylist .el-input__inner{
    border: 1px solid #b9e2ef !important;
  }
  .el-input__inner {
    height: 34px !important;
    line-height: 34px !important;
    display: flex;
    align-items: center;
  }
  .addhistorylist-form .el-date-editor--daterange.el-input__inner {
    display: flex !important;
}
.addjzjl-titleBox .el-input__prefix{
    top:-3px;
}
.addjzjl-titleBox .el-input__suffix{
    top:-3px;
}
.addjzjl-titleBox .el-form-item__content{
    padding-left: 0px !important;
}
.addjzjl-body .el-form-item.is-required .el-form-item__label:before{
    content: ' ' !important;
    display: none;
}
.addjzjl-body .el-date-editor.el-input,.addjzjl-body .el-date-editor.el-input__inner{
    width: 150px !important;
    margin-right: 20px;
}
.addjzjl-body .el-form-item.is-success .el-input__inner{
    border-color:#b9e2ef !important;
}
.el-form-item__content .el-select input{
    height: 36px !important;
}
/* 搜索输入患者姓名 */
.searchNameInput{
 width: 120px !important;
 margin:0 10px;
}
.searchNameInput input{
    height:36px !important;
    border-color:#b9e2ef;
}
.searchNameInput .el-input__icon{
    line-height: 36px !important;
}
/* 修改dialog */
.el-dialog__body{
    padding:0 15px !important;
}

.el-form-item.is-required .el-form-item__label:before{
    display: none !important;
}

/* 个人中心 */
/* 取消输入框 禁用时的样式 */
.personal-zhmesBox .el-input.is-disabled .el-input__inner{
    background-color: #fff;
    border-color: #fff !important;
    color: #606266;
    /* border:none; */
}
.personal-zhmesBox .el-input.is-disabled .el-input__suffix{
    opacity: 0;
}
.personal-zhmesBox .el-input.is-disabled .el-input__inner{
    cursor: auto !important;
}
.personal-zhmesBox .el-checkbox__input.is-disabled .el-checkbox__inner{
    cursor: auto !important;
}
.personal-zhmesBox .el-checkbox__input.is-disabled .el-checkbox__inner::after{
    cursor: auto !important;
}
.personal-zhmesBox .is-disabled.is-checked{
    cursor: auto;
}
/* .personalCenter .el-tabs--border-card{
    box-shadow: none;
    border-color: #DCF3FD;
}
.personalCenter .el-tabs__nav .el-tabs__item{
    border-left:none !important;
    border-right:none !important;
}
.personalCenter .el-tabs--border-card > .el-tabs__header{
    background-color: #DCF3FD;
    border:none;
}
.personalCenter .el-tabs {
    background-color:#fff;     
}
.personalCenter .el-tabs__nav-wrap::after{
    height:0px;
    background-color:#b9e2ef !important;
}
.personalCenter .el-tabs__nav-scroll{
    background-color:#E5F6FD !important;
}
.personalCenter .el-tabs__nav{
    height: 50px;
    display: flex;
    align-items: center;
}
.personalCenter .el-tabs__item{
    height: 50px;
    display: flex;
    align-items: center;
}
.personalCenter .el-tabs__content{
    background-color:#fff; 
    min-height: 300px;
} */
.personalCenter .el-collapse-item__header{
    padding:0 28% !important;
    color: #333333;    
    font-weight: 400;
}
.personalCenter .el-collapse-item__content{
    padding:20px 28% !important;
    color: #333333;
    text-align: center;
}
.personalCenter .el-collapse-item.is-active .el-collapse-item__wrap{
    border-top: 1px solid #fbf9f9;
}
.personalCenter .el-icon-arrow-right{
    display: none;
}
.detialtop-timu .el-form-item__content{
    padding-left: 50px;
}
.xiugaipwdDialog .el-dialog{
    padding: 30px 70px !important;
}

.diagnosis-form .el-date-editor--daterange{
    width: 230px !important;
    display: flex;
    align-items: center;
}
.diagnosis-form .el-date-editor--daterange .el-icon-date{
    display: none;
}
.diagnosis-form .el-form-item__content .el-radio-group .el-radio{
    margin-left:10px !important;
}
.diagnosis-form .el-form-item__label{
    padding: 0 5px 0 0 !important;
}
.diagnosis-form .el-form-item{
    margin-bottom: 10px;
}
.diagnosis-body .el-table th.is-leaf,.diagnosis-body .el-table .gutter{
    background-color: #e5f6fd;
    padding:8px 0 !important;
}

.diagnosis .el-loading-mask{
    display: flex;
    justify-content: center;
}
.diagnosis .el-loading-mask .el-loading-spinner{
    position: fixed !important;
    top:40%;
}
.diagnosis .diagnosis-question .el-form-item__content .el-radio .el-radio__input,
.diagnosis .diagnosis-question .el-form-item__content .el-checkbox .el-checkbox__input{
    display: none !important;
}
.diagnosis .diagnosis-question .el-checkbox.is-bordered.el-checkbox--medium .el-checkbox__label{
    line-height: 20px;
}
.diagnosis .diagnosis-question .el-checkbox-group{
    padding-left: 20px;
}
.diagnosis .el-radio__label {
    padding-left: 10px;
}

::-webkit-scrollbar{
    position: absolute;
    width: 6px;  
    background: transparent;
}
::-webkit-scrollbar-thumb  {
    position: absolute;
    background-color: #d8d8da;  
    width: 6px;  
    border-radius: 3px;
}

/* 添加下级医院 */
.addNextDialogVisibleDiv .el-input__inner{
    border-radius:0 !important;
}

.allpatientlist-form .el-form-item__label {
    width: auto !important;
    padding:0 5px 0 0;
  }
  .allpatientlist-form .el-form-item {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-left: 10px;
  }
  .allpatientlist-form .el-form-item .el-form-item__content {
    margin-left: 0 !important;
  }
  .allpatientlist-form .el-date-editor--daterange.el-input__inner {
    width: 220px;
    display: flex;
    border: 1px solid #b9e2ef;
  }
  .allpatientlist-form .el-date-editor--daterange .el-icon-date {
    display: none !important;
  }
  .allpatientlist-form .el-input--suffix input {
    border: 1px solid #b9e2ef;
  }
  .allpatientlist-form .el-form-item__content {
    line-height: 36px;
  }
  .allpatientlist-form .el-input--suffix {
    width: 110px;
  
}
.consultationBox-box .consultationBox-form .el-input--suffix{
    width: 180px;
}
.el-range-editor.el-input__inner{
    padding: 3px 0px !important;
}
/* 发起远程会诊 */
.addRemoteConsultation-select input{
    border-radius: 0px;
    border-color:#08B3E9 !important;
}

.addRemoteConsultation-select .el-input.is-disabled .el-input__inner{
    color: #565656;
}


.cfade-enter-active {
    transition: all 0.5s;
  }
  .cfade-leave-active {
    transition: all 0.5s;
  }
  .cfade-enter,
  .cfade-leave-active {
    opacity: 0;
  }
  .allpatientlist {
    /* background-color: #F7F7F7; */
    /* padding-bottom: 20px; */
  }
  .allpatientlist .el-table tr {
    /* background-color: #F7F7F7; */
  }
  .allpatientlist .el-table th {
    /* background-color: #F7F7F7; */
  }
  .allpatientlist .el-pagination {
    text-align: right;
    margin-right: 20px;
    margin-bottom: 10px;
  }
  .allpatientlist-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    font-size: 16px;
    padding-left: 15px;
    background-color: #e5f6fd;
    padding-right: 10px;
  }
  .allpatientlist-nav {
    padding: 5px 0 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px !important;
    background-color: #fafbfc;
  }
  .allpatientlist-search {
    display: flex;
    justify-content: flex-end;
  }
  @media screen and (max-width: 1400px) {
    .allpatientlist-nav {
      align-items: left;
      flex-direction: column;
    }
    .allpatientlist-search {
        display: flex;
        justify-content: flex-start;
      }
  }
  .allpatientlist-form {
    display: flex !important;
    align-items: center;
  }
  .allpatientlist-button {
    /* width: 270px; */
  }
  .printbtn.is-disabled a{
    color: #c0c4cc !important;
  }
  .el-form-item.groupselect input{
    height:36px !important;
  }
  .allpatientlist-button button {
    padding: 10px 10px;
  }
  .allpatientlist-button i {
    margin-right: 8px;
  }
  
  .allpatientlist-namebox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height:25px;
  }
  .allpatientlist-namebox i {
    font-size: 16px;
    vertical-align: -15%;
    margin-right: 5px;
    cursor: pointer;
  }
  .allpatientlist-namebox .el-icon-more {
    font-size: 16px;
    border: 1px solid #08b3e9;
    border-radius: 50%;
  }
  .allpatientlist-namebox .el-icon-more-box {
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -9px;
    height: 80%;
  }
  .allpatientlist-namebox .el-icon-more-box:hover .allpatientlist-more {
    display: block;
  }
  .allpatientlist-namebox .el-icon {
    font-size: 20px;
  }
  .allpatientlist-namebox .allpatientlist-more {
    position: absolute;
    right: 0;
    top: 10px;
    padding: 0 0;
    width: 130px;
    z-index: 10;
    background-color: #fff;
    border: 1px solid #ebeef5;
    border-radius: 4px;
    border: 1px solid#dfeff5;
    display: none;
  }
  .allpatientlist-namebox .allpatientlist-more .el-dropdown-menu__item {
    padding: 0;
    padding-left: 10px;
    color: #08b3e9;
  }
  .allpatientlist-control {
    /* display: none; */
    padding-right: 20px;
    color: #08b3e9;
    opacity: 0;
    transition: 0.2s;
  }
  .el-table__row:hover .allpatientlist-control {
    /* display: block; */
    transition: 0.2s;
    opacity: 1;
  }
  .el-tooltip__popper {
    padding: 2px 3px;
    color: #08b3e9;
  }
  .allpatientlist-table .el-table__row:hover{
    cursor: pointer;
  }
  .allpatientlist-table .el-table__body {
    padding-bottom: 80px;
    /* background-color: #F7F7F7; */
  }
  .el-table::before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
  }
  .el-table--group::after,
  .el-table--border::after,
  .el-table::before {
    display: none;
  }
  .el-table th.is-leaf,
  .el-table td {
    border-bottom: 0.5px solid #dfeff5 !important;
    padding: 13px 0 !important;
  }
  .el-table th.is-leaf {
    padding: 8px 0 !important;
  }
  .allpatientlist-button .deletebtn {
    color: #ff6565;
    border: 1px solid #ffcdcd;
  }
  .allpatientlist-nav button:disabled {
    color: #c0c4cc;
    cursor: not-allowed;
    background-image: none;
    background-color: #fff;
    border-color: #ebeef5;
  }
  .allpatientlist-nav .printbtn,
  .allpatientlist-nav .addbtn {
    color: #08b3e9;
    border: 1px solid #b9e2ef;
  }
  .addpatientlist-body .el-table th.is-leaf {
    background-color: #e5f6fd;
    padding: 13px 0;
  }
  .el-input__inner {
    height: 34px !important;
    display: flex;
    align-items: center;
  }
  .el-date-editor .el-range-separator,
  .el-date-editor .el-range__close-icon {
    line-height: 25px;
  }
  .allpatientlist-form button {
    padding: 10px 10px;
  }
  .fenzudialog li.fenzuActive {
    background-color: #08b3e9 !important;
    color: #fff;
    border-top:1px solid #fff;
  }
  .fenzudialog {
    padding: 0;
    margin: 0;
    max-height: 200px;
    overflow-y: auto;
  }
  .fenzudialog li {
    border-top:1px solid #fff;
    height: 39px;
    display: flex;
    align-items: center;
    font-size: 14px;
    padding-left: 10px;
    border-radius: 4px;
  }
  .fenzudialog li:nth-child(odd) {
    background-color: #fafbfc;
  }
  .fenzudialog li:nth-child(even) {
    background-color: #fff;
  }
  .fenzudialog li i {
    margin-right: 5px;
  }
  .el-radio__label {
    padding-left: 5px;
    /* color: #9b9b9b; */
  }
  .el-radio + .el-radio {
    margin-left: 15px !important;
  }
  .el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #f5fcff !important;
  }
  .el-table th.gutter {
    background-color: #e5f6fd !important;
  }
  .el-range-editor.el-input__inner {
    padding: 3px 0px !important;
  }
  .allpatientlist-nav .el-button + .el-button {
    margin-left: 5px !important;
  }
  /* 图片预览 */
  .imgYulanBox{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: flex;
    padding: 0 20px;
    align-items: center;
  }
  .imgYulanBox  .el-carousel{
    width: 100%;
  }
  .imgYulanBox .el-carousel__container{
    width: 100%;
    height:84vh;
    /* max-height: 90vh; */
    /* height: 100%; */
    min-height: 500px;
  }
  .imgYulanBox .el-carousel__container .el-carousel__item{
    background-color: none;
    text-align: center;
    /* line-height: 520px; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
  }
  .imgYulanBox .el-carousel__container .el-carousel__item img{
    /* width: auto; */
    max-width: 80%;
    /* max-height: 100%; */
  }
  .el-carousel__item{
      overflow: auto !important;
  }
  .imgYulanBox .closeimgYulanBox{
      position: absolute;
      right: 10px;
      top:10px;
      font-size: 34px;
      cursor: pointer;
      color: #fff;
      z-index: 100;
  }
  .imgYulanBox .el-carousel__container .el-carousel__arrow{
      width: 60px;
      height: 60px;
      font-size: 30px;
  }
  .remoteConsultation .el-loading-mask{
      top:50px;
  }

  /* 全部结果时候参数样式 */
.detial-history-body-alldata{
    display: flex;
    justify-content: space-between;
    padding:11px 20px 10px;
}
.detial-history-body-alldata ul{
    width: 100%;
    margin: 0;
    padding: 0;
}
.detial-history-body-alldata ul li{
    padding:8px 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.detial-history-body-alldata ul hr{
    position: relative;
    margin: 0;
    padding: 0;
    z-index: 5;    
    margin-bottom: 8px;    
}
.detial-history-body-alldata ul:nth-of-type(3){
    min-width:95px;
    position: relative;
}
.detial-history-body-alldata ul:nth-of-type(3):after{
    background-color: #f3fbfe;
    position: absolute;
    content: '';
    top:0;
    right: 0;
    display: inline-block;
    width: 100px;
    height: 100%;
    z-index: 0;
}
.page .detial-history-body-alldata ul:nth-of-type(3):after,
#print-area .detial-history-body-alldata ul:nth-of-type(3):after{
    content: none !important;
}
.detial-history-body-alldata ul:nth-of-type(3) li{
    position: relative;
    z-index: 5;    
}
.detial-history-body-alldata ul:nth-of-type(1){
    max-width: 200px;
    min-width: 150px;
}
.detial-history-body-alldata ul:last-child{
    min-width: 122px;
}
.detial-history-body-alldata ul:nth-of-type(1) li{
    display: flex;
    justify-content: space-between;
}
.detial-history-body-alldata ul:nth-of-type(1) li:first-child{
    display:flex !important;
    justify-content: center;
}

/* loading */
.el-tabs__content{
    border-radius: 0px 0px 4px 4px;
}
.el-tabs__header{
    border-radius: 4px 4px 0px 0px; 
}
.el-table .el-loading-mask{
    height:100px;
    background: none;
}
.el-tabs__nav-scroll .el-tabs__item{
    color: #333333 !important;
    font-weight: 400;
}
.el-tabs--border-card{
    box-shadow: none !important;
    border-color: #B1E5F5 !important;
    border-radius: 4px;
}
.el-tabs--border-card .el-tabs__nav .el-tabs__item{
    border-left-color:#E5F6FD !important;
    border-right-color:#E5F6FD !important;
}
.el-tabs--border-card .el-tabs--border-card > .el-tabs__header{
    background-color: #DCF3FD;
    border:none;
}
.el-tabs--border-card .el-tabs {
    background-color:#fff;     
}
.el-tabs--border-card .el-tabs__nav-wrap::after{
    height:0px;
    background-color:#b9e2ef !important;
}
.el-tabs--border-card .el-tabs__nav{
    height: 50px;
    display: flex;
    align-items: center;
}
.el-tabs--border-card .el-tabs__item{
    height: 50px !important;
    display: flex !important;
    align-items: center  !important;;
}

.el-tabs--border-card .el-tabs__content{
    background-color:#fff; 
} 
.el-tabs--border-card .el-tabs__nav-scroll{
    border-bottom: 1px solid #B1E5F5 !important;
    height: 48px !important;
    overflow: initial !important;
}

.el-tabs--card .el-tabs__nav-scroll{
    border-bottom: none !important;
}
.el-tabs--border-card>.el-tabs__header {
    background-color:#E5F6FD !important;
    /* border-bottom: 1px solid #B1E5F5 !important; */
    border-bottom: none !important;
}
.el-tabs--border-card  .el-tabs__item.is-active{
    background: #fff !important;
    border-bottom: 1px solid #fff !important;
    border-left: 1px solid #B1E5F5 !important;
    border-right: 1px solid #B1E5F5 !important;
    margin-top: 1px;
}
.el-tabs--card{
    height: 50px !important;
}
.el-tabs--card .el-tabs__nav-scroll{
    background-color:#fff !important;
    overflow: initial !important;
}
.el-tabs--card > .el-tabs__header{
    border-color:#B1E5F5 !important; 
    border-bottom: 1px solid #ddf1f8; 
    padding-right: 200px;
}
.el-tabs--card .el-tabs__item.is-active{
    background: #fff !important;
    border-bottom: 1px solid #fff !important;
    border-left: 1px solid #B1E5F5 !important;
    border-right: 1px solid #B1E5F5 !important;
    margin-top: 1px;
}
.el-tabs--card .el-tabs--card>.el-tabs__header .el-tabs__item{
    border-left: none !important;
}
.el-tabs--card .el-tabs__item:last-child{
    border-radius: 0 6px 0 0;
    border-right:1px solid #B1E5F5 !important;
}
.el-tabs--card .el-tabs__item:first-child{
    border-radius: 6px 0 0 0;
    border-left:1px solid #B1E5F5 !important;
}
.el-tabs--card .el-tabs__item{
    border:1px solid #B1E5F5 !important;
    height: 49px !important;
    line-height: 49px !important;
}
.el-tabs--card > .el-tabs__header .el-tabs__nav{
    border:none !important;
} 
.el-tabs--card .el-tabs__nav-prev {
    z-index: 20;
    background: #fff;
    margin-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
}
.el-tabs--card .el-tabs__nav-next {
    z-index: 20;
    background: #fff;
    margin-top: 4px;
    padding-left: 3px;
    padding-right: 3px;
}

/* 微信病情记录  start*/
.followUp-jlBox .el-table td,.followUp-jlBox .el-table th.is-center{
    border-bottom-color:#B1E5F5 !important;
    border-right-color:#B1E5F5  !important;
}
.followUp-jlBox .el-table--group,.followUp-jlBox .el-table--border{
    border:1px solid #B1E5F5 ;
}
.followUp-pgBox .el-collapse-item__header,
.followUp-pgBox .el-collapse-item__content{
    color:#686868 !important;
}
.followUp-pgBox .el-collapse-item__arrow{
    float: left;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}
.followUp-pgBox .el-collapse-item.is-active .el-collapse-item__arrow{
    -webkit-transform: rotate(-90deg) !important;
    transform: rotate(-90deg) !important;
}
.jixingA{
	/* color:#00BB9C !important; */
}
.jixingB{
	/* color:#F9A548 !important; */
}
.jixingC{
	/* color:#F87E4B !important; */
}
.jixingD{
	/* color:#F84C4F !important; */
}
.followUp-pgList{
    padding:0 20px;
}
.followUp-pgList img{
	width: 280px;
}
.followUp-pgList .pgbiaoxian{
    display:inline-block;
    background-color: #8286E6;
    color: #fff;
    padding:2px 10px;
    border-radius: 4px;
}
.followUp-pgList .pgcuoshi{
    display:inline-block;
    background-color: #FF7459;
    color: #fff;
    padding:2px 10px;
    border-radius: 4px;
}
.followUp-pgList .pgText{
    margin:10px 0;
}
.followUp-pgList .mmrc1{
    color: #00BB9C;
    font-size: 18px;
}
.followUp-pgList .mmrc2{
    color:#F9A548;
    font-size: 18px;    
}
.followUp-pgList .pgquestionList{
    margin-bottom: 8px;
    position: relative;
    padding-left:15px;
}
.followUp-pgList .pgquestionList .pganswer{
    color: #13A2FF;
}
.followUp-pgList .pgquestionList:before{
    position: absolute;
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #00BB9C;
    left: -5px;
    top:6px;
}
.followUp-imgBox{
    display: flex;
    flex-wrap: wrap;
}
.followUp-imgBox a{
    margin-right: 10px;
  margin-bottom: 10px;
  border:1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  transition: 0.2s;
   -webkit-transition: 0.2s;
   cursor: pointer;
}
.followUp-imgBox a:hover{
  box-shadow: 0 0 10px #ccc;  
  transition: 0.2s;
  -webkit-transition: 0.2s;
}
.followUp-imgBox a img{
   width: 40px;
   height: 40px;
}
.followUp-jlBox .el-table .cell {
    white-space:normal !important;
    overflow: normal !important;
    text-overflow: normal !important;
}
/* 微信病情记录  end*/
/* .detial-msg:nth-of-type(2){
    display: none;
} */